.round-1{
  border-radius: 3px;
}

.round-2{
  border-radius: 6px;
}

.round{
  border-radius: 50%;
}

.border-top{
  border-top: 1px solid #e1e4e8!important;
}

.border{
  border: 1px solid #e1e4e8!important;
}