.Box-header {
    padding: 16px;
    background-color: #f6f8fa;
    border-color: #d1d5da;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.Box-title {
    font-size: 14px;
    font-weight: 600;
}
.Box {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.Box-row {
    padding: 16px;
    margin-top: -1px;
    list-style-type: none;
    border-top: 1px solid #e1e4e8;
}

.Box-row:first-of-type {
    border-top-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.Box--condensed .Box-row {
    padding: 8px 16px;
}

.Box-footer {
    padding: 16px;
    margin-top: -1px;
    border-top: 1px solid #e1e4e8;
}