@import './variables';


.text-hsla-pale{
  color: hsla(0,0%,100%,.6) !important;
}

.bg-primary{
  background: $primary-color !important;
}

.bg-sub-primary{
  background: $primary-sub-color !important;
}

.bg-btn-primary-green{
  background: $primary-btn-green-color !important;
}

.bg-btn-primary-blue{
  background: $primary-btn-blue-color !important;
}



