@import './variables';

.link{
  color: $primary-link-color;
  text-decoration: none;
  border-bottom: 1px solid $primary-link-color;
}

.line-through{
  text-decoration:line-through
}

.font-inter{
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.font-mono{
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
}

@mixin init-titleFontSize() {
  @each $index, $value in $titleFontSize-value-mapping{
    .h#{$index}-mktg{
      font-size: #{$value}px !important;
      font-weight: 500;
    }
  }
}

@mixin init-paragraphFontSize() {
  @each $index, $value in $paragraphFontSize-value-mapping{
    .f#{$index}-mktg{
      font-size: #{$value}px !important;
    }
    .f#{$index}-mktg-light{
      font-size: #{$value}px !important;
      font-weight: 300 !important;
    }
  }
}

@mixin init-fontWeight() {
  @each $index, $value in $fontWeight-value-mapping{
    .w-#{$index}{
      font-weight: #{$value} !important;
    }
  }
}

@mixin init-lineHeight() {
  @each $index, $value in $lineHeight-value-mapping{
    .lh-#{$index}{
      line-height: #{$value} !important;
    }
  }
}
