.State--green {
    background-color: #2cbe4e;
}

.State--purple {
    background-color: #6f42c1;
}

.State--red {
    background-color: #cb2431;
}

.state, .State {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6a737d;
    border-radius: 3px;
}

.State--small {
    padding: .125em 4px;
    font-size: 12px;
}