.list-item{
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 15px 14px 35px;
  overflow-wrap: break-word;
  line-height: inherit;
  text-align: left;
}

.list-item-title {
  display: block;
  margin-right: auto;
  margin-bottom: 3px;
  font-weight: 600;
  line-height: 1.2;
  color: #0366d6;
  word-break: break-word;
}

.list-item .meta {
  float: right;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 11px;
  color: #6a737d;
}

.list-item .meta~.list-item-title {
  margin-right: 55px;
}

.list-item+.list-item {
  border-top: 1px solid #eaecef;
}