@import "./variables";
@mixin init-margin() {
  @each $index, $value in $margin-value-mapping{
    .m-#{$index} {
      margin: #{$value}px !important;
    }
    .mv-#{$index} {
      margin-top: #{$value}px !important;
      margin-bottom: #{$value}px !important;
    }
    .mh-#{$index} {
      margin-right: #{$value}px !important;
      margin-left: #{$value}px !important;
    }
    .mt-#{$index} {
      margin-top: #{$value}px !important;
    }
    .mb-#{$index} {
      margin-bottom: #{$value}px !important;
    }
    .ml-#{$index} {
      margin-left: #{$value}px !important;
    }
    .mr-#{$index} {
      margin-right: #{$value}px !important;
    }
  }
}

