@import "./variables";
@mixin init-padding() {
  @each $index, $value in $padding-value-mapping {
    .p-#{$index}{
      padding: #{$value}px !important;
    }
    .py-#{$index}{
      padding-top: #{$value}px !important;
      padding-bottom: #{$value}px !important;
    }
    .px-#{$index}{
      padding-right: #{$value}px !important;
      padding-left: #{$value}px !important;
    }
    .pt-#{$index}{
      padding-top: #{$value}px !important;
    }
    .pb-#{$index}{
      padding-bottom: #{$value}px !important;
    }
    .pl-#{$index}{
      padding-left: #{$value}px !important;
    }
    .pr-#{$index}{
      padding-right: #{$value}px !important;
    }
  }
}
