.no-wrap {
    white-space: nowrap!important;
}

.flex-shrink-0 {
    flex-shrink: 0!important;
}

.text-bold {
    font-weight: 600!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}

.d-inline-block {
    display: inline-block!important;
}
