.no-wrap {
    white-space: nowrap!important;
}

.flex-shrink-0 {
    flex-shrink: 0!important;
}

.flex-auto {
    flex: auto!important;
}


.flex-wrap {
    flex-wrap: wrap!important;
}

.flex-self-start{
    align-self: flex-start!important;
}

.border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}

.border-top {
    border-top: 1px solid #e1e4e8!important;
}

.border-0 {
    border: 0!important;
}

.d-inline-block {
    display: inline-block!important;
}

.text-center {
    text-align: center!important;
}

.d-inline-flex {
    display: inline-flex!important;
}

.flex-column {
    flex-direction: column!important;
}

/* typography */
.no-underline {
    text-decoration: none!important;
}

.float-left {
    float: left!important;
}

.box-shadow-medium {
    box-shadow: 0 1px 5px rgba(27,31,35,.15)!important;
}